nav {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    width: 100vw;
    z-index: 1;
}

nav ul li {
    float: right;
    margin-right: 50px;
    list-style-type: none;
    text-align: center;
}

#home {
    float: left;
    font-family: 'Apple', sans-serif;
    text-align: center;
    margin: 200px;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-family: 'Apple', sans-serif;
}

.nav-link:hover {
    color: lightpurple;
    font-weight: bold;
}

.search-box {
    border: 0.5px solid lightslategrey;
    height: 140px;
    width: 50px;
    margin: 200px; 
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-container-recent-update {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    padding: 10px;
    margin: 200px;
  }
  
  .grid-item-a {

  }